name: Build

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: write

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            goos: linux
            goarch: amd64

          - os: ubuntu-latest
            goos: linux
            goarch: arm64

          - os: windows-latest
            goos: windows
            goarch: amd64

          - os: macos-latest
            goos: darwin
            goarch: amd64  # Intel Mac

          - os: macos-latest
            goos: darwin
            goarch: arm64  # Apple Silicon

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Build CLI
        run: GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -o build/ch8go-cli-${{ matrix.goos }}-${{ matrix.goarch }} ./cmd/cli

      - name: Build SDL2
        run: GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -o build/ch8go-sdl2-${{ matrix.goos }}-${{ matrix.goarch }} ./cmd/sdl2

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: chip8-${{ matrix.goos }}-${{ matrix.goarch }}
          path: build/

      - name: Upload to GitHub Release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
