:root {
    --terminal-color: #ffffff;
}
canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}
body {
    font-family: "VT323", monospace;
    font-size: 20px;
    line-height: 22px;
    color: var(--terminal-color);
    background-color: black;
}

.page {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.screen {
    width: 640px;
    height: 320px;
    border: 1px solid var(--terminal-color);
    padding: 5px;
    margin: 20px;
}

.loaders {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0.5rem;
    flex-wrap: wrap;
}
.group {
    display: flex;
    flex-direction: row;
    gap: 6px;
    border: 1px solid #333;
    padding: 12px 16px;
    border-radius: 4px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 240px;
}

.separator {
    font-weight: bold;
    opacity: 0.7;
}

.title {
    font-size: 3rem;
    margin: 0.5rem 0;
}
.subtitle {
    font-size: 1.15rem;
    color: #ccc;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 1500ms ease-in-out infinite;
}
@keyframes octocat-wave {
    0%,
    10% {
        transform: rotate(0);
    }
    20%,
    40% {
        transform: rotate(-25deg);
    }
    30%,
    50% {
        transform: rotate(10deg);
    }
    60%,
    100% {
        /* pause here */
        transform: rotate(0);
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 1500ms ease-in-out infinite;
    }
}

/* controls */
h4 {
    text-decoration: underline;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 30px;
}

#keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    touch-action: none;
}

#keyboard caption {
    padding-bottom: 12px;
    font-size: 16px;
    color: #eee;
    text-align: center;
}

/* Keys */
.tg td,
.tg th {
    background: #222;
    border: 1px solid #444;
    font-size: 26px;
    padding: 15px;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;

    transition:
        background 0.12s ease,
        transform 0.1s ease;
    cursor: pointer;
}

/* Hover (desktop only) */
@media (hover: hover) and (pointer: fine) {
    .tg td:hover,
    .tg th:hover {
        background: #333;
    }
}

/* JS "pressed" class override (VERY SPECIFIC) */
.tg td.pressed,
.tg th.pressed {
    background: #555 !important;
    transform: scale(0.93);
}

/* Container padding */
.keyboard-element {
    margin: 0 10px;
    display: inline-block;
}

/* Mobile scaling */
@media (max-width: 600px) {
    .tg td,
    .tg th {
        width: 48px;
        height: 48px;
        font-size: 22px;
        padding: 12px;
    }
}

.file-btn {
    background: #f2f2f2;
    color: #333;
    border: 1px solid #aaa;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    line-height: 1;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    font-size: 18px;
}

.file-btn:hover {
    background: #e5e5e5;
}
.file-name {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

#roms {
    padding: 8px 12px;
    border: 1px solid #777;
    border-radius: 6px;
    background: #fff;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
